* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0 60px;
  align-items: center;
}

.logo {
  width: 120px;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style-type: none;
  font-size: 18px;
}

.login {
  padding: 0.15rem 1.5rem;
  background-color: rgb(89, 255, 89);
  color: black;
  border: none;
  border-radius: 5px;
}

.search {
  padding: 10px;
}
/* filter - Top Rated Restaurant */
.filter {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.filter-btn {
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* res-card */
.res-card {
  width: 250px;
  padding: 6px;
  margin: 5px;
  border-radius: 5px;
}
.res-card:hover {
  border: 1px solid #f45d06;
  background-color: #f5a733;
  color: brown;
}

.res-logo {
  padding: 5px;
  width: 235px;
  border-radius: 15px;
  object-fit: contain;
}

/* Shimmer card */

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 40px;
  justify-content: center;
}

.shimmer-card {
  background-color: #d9d9d9;
  width: 250px;
  height: 400px;
  padding: 6px;

  margin: 5px;
  border-radius: 5px;
}
