* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0 60px;
  align-items: center;
}

.logo {
  width: 120px;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style-type: none;
  font-size: 18px;
}

.search {
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* res-card */
.res-card {
  width: 250px;
  padding: 6px;
  margin: 5px;
  border-radius: 5px;
}
.res-card:hover {
  border: 1px solid #f45d06;
  background-color: #f5a733;
  color: brown;
}

.res-logo {
  padding: 5px;
  width: 235px;
  border-radius: 15px;
  object-fit: contain;
}
